*{
  padding: 0;
  margin: 0;
}

.nav{
  box-shadow: 0px 0px 30px gray;
}
.img , .box{
  transition: all 0.4s ;
}
.round:hover  .img{
  transform: rotate( -30deg) scale(0.9);
}
.line{
  transition: all 0.5s;
}
.listview:hover{
    cursor: pointer;
}
.listview:hover .line{
   width: 100%;
}
.round:hover .box{
  left: 0.5rem;
  opacity: 1;
}

.mainimg{
  filter: drop-shadow(0px 0px 10px black);
}
.card div{
  transition: all 0.7s;
  cursor: pointer;
}
.card:hover div{
  transform: scale(0.9);
}